# Logs & Temp Debug Files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node Modules & Build Output
node_modules/
dist/
dist-ssr/
build/
*.tsbuildinfo

# Environment Variables & Secret Files
.env
.env.*
!.env.example
*.pem
*.key
*.cert

# Deployment & Provider Artifacts
.vercel
.vercel/

# Operating System & IDE Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
